main{
  figure,section{
    height: auto;
    min-height: 100vh;
    
    &:nth-child(even){
      background-color: $color-light-gray;
    }
  }
}

@media screen and (max-width: $screen-size-tablet) {
  main{
    figure,section{
    }
  }
}