section#Pics{
  .inner{
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .frame{
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 20px;
  
      article{
        width: 100%;
        height: 100%;
        position: relative;

        &:nth-of-type(1){
          grid-row: 1 / 3;

          .pic{
            height: calc((1180px) / 2);
          }

          .txt{
            background-color: $color-black;
          }
        }
  
        &:hover{
          .pic{
            filter: grayscale(0);
            transform: translate((-5px, -5px));
            box-shadow: 10px 10px 0 $color-white;
          }
          .txt{
            transform: translate((-5px, -5px));
          }
        }

        .pic{
          width: 100%;
          height: calc((1180px - 20px * 2) / 4);
          overflow: hidden;
          filter: grayscale(0.5);
          transition: 0.5s;
          cursor: pointer;
  
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
  
        .txt{
          width: 100%;
          position: absolute;
          bottom: 0;
          padding: 20px;
          transition: 0.5s;

          h3{
            width: 100%;
            font-size: $font-size-regular;
            font-weight: 500;
            color: $color-white;
            text-shadow: 0 0 5px rgba($color: $color-black, $alpha: 1);
            word-break: break-all;
            margin-bottom: 10px;
          }
    
          .profile{
            display: flex;
            align-items: center;
    
            img{
              width: 20px;
              border-radius: 50%;
              margin-right: 10px;
            }
    
            span{
              font-family: 'Noto Sans KR', sans-serif;
              font-size: $font-size-regular;
              font-weight: 100;
              color: $color-white;
              text-shadow: 0 0 5px rgba($color: $color-black, $alpha: 1);
              word-wrap: break-word;
            }
          }
        }
      }
  
      .noData{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans KR', sans-serif;
      }
    }
  }
}

@media screen and (max-width: $screen-size-tablet) {
  section#Pics{
    .inner{
      .frame{
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: $screen-size-mobile) {
  section#Pics{
    .inner{
      .frame{
        grid-template-columns: 1fr;
        article{
          .pic{
            height: calc((100vw - 20px * 2) / 2);
          }
        }
      }
    }
  }
}