section#Vids{
  background-color: $color-white-gray;

  &.on{
    .inner{
      .frame{
        article{
          opacity: 1;

          &:nth-of-type(odd){
            transform: translateY(-50px);

            &:hover{
              transform: translate(-5px, -55px);
              box-shadow: 10px 10px 0 $color-theme-3;
            }
          }
      
          &:nth-of-type(even){
            transform: translateY(50px);

            &:hover{
              transform: translate(-5px, 45px);
              box-shadow: 10px 10px 0 $color-theme-3;
            }
          }
        }
      }
    }
  }

  .inner{
    height: auto;
    min-height: calc(100vh - 100px);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
      font-size: $font-size-larger;
      text-align: center;
      margin-bottom: 30px;
      transform: translateY(-50px);
    }

    .frame{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      article{
        position: relative;
        opacity: 0;
        transition: 0.5s;
        background-color: $color-black;
        display: flex;
        flex-direction: column;

        h3{
          padding: 10px 20px;
          font-size: $font-size-medium;
          line-height: 2;
          color: $color-white;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .imgBox{
          height: calc((1180px - 20px * 4) / 7);
          overflow: hidden;
          position: relative;
          cursor: pointer;
  
          .pic{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            background-color: $color-black;
            filter: grayscale(0.6);
            transition: 0.5s;

            &:hover{
              filter: grayscale(0);

              svg{
                filter: drop-shadow(2px 2px 3px rgba($color: $color-black, $alpha: 0.5));
              }
            }

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }

            svg{
              width: 30px;
              height: 30px;
              position: absolute;
              bottom: 10px;
              left: 15px;
              color: $color-white;
              transition: 0.5s;
            }
          }
        }

        .txtBox{
          flex: 1;
          padding: 30px 20px 30px;
          background-color: $color-white;

          .desc{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: $font-size-small;
            line-height: 1.5;
            margin-bottom: 20px;
          }

          .author{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: $font-size-regular;
            font-weight: 500;
          }
        }
      }

      .noData{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans KR', sans-serif;
      }
    }
  }
}


@media screen and (max-width: $screen-size-tablet) {
  section#Vids{
    .inner{
      .frame{
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: $screen-size-mobile) {
  section#Vids{
    .inner{
      .frame{
        grid-template-columns: 1fr;
        article{
          .imgBox{
            height: calc((100vw - 20px * 2) / 2);
            a{
              .bg{ display: none; }
              .title{
                text-shadow: 0 0 3px rgba($color: $color-white, $alpha: 1.0);
              }
              .pic{
                bottom: -10px;
              }
            }
          }
          .onSale{
            top: calc((100vw - 20px * 2) / 2);
          }
        }
      }
    }
  }
}