figure#mainVisual{
  width: calc(100% - ((100% - 1180px) / 2 - 50px));
  // padding-top: 100px;
  margin-left: calc((100% - 1180px) / 2 - 50px);
  position: relative;

  .frame{
    margin-top: 30px;
    width: 100%;
    height: 650px;
    display: flex;
    transform-style: preserve-3d;
    position: relative;

    article{
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      transition: 0.5s;

      &.on{
        opacity: 1;
        z-index: 1;
      }

      .inner{
        height: 100%;
        margin: 0;
        padding-top: 100px;
        padding-left: 50px;
        position: relative;

        h2{
          position: absolute;
          top: 150px;
          font-weight: 900;
          font-size: $font-size-larger;
        }

        p{
          position: absolute;
          top: 200px;
          font-family: 'Noto Sans KR', sans-serif;
          font-weight: 100;
          font-size: $font-size-regular;
          color: $color-dark-gray;
        }
      }

      .wrap{
        width: 100%;
        height: 55%;
        position: absolute;
        bottom: 0;
        border-radius: 20px 0 0 20px;

        .imgBox{
          width: 1180px;
          height: 130%;
          padding-left: 10%;
          padding-bottom: 30px;
          position: absolute;
          bottom: 50px;
          left: 0;

          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: drop-shadow(15px -10px 10px rgba(0,0,0,0.3));
          }
        }
      }
    }
  }

  .timer{
    position: absolute;
    left: 20px;
    bottom: 15px;

    .bg{
      width: 30px;
      height: 30px;
      opacity: 0.3;

      circle{
        fill: transparent;
        stroke: $color-white;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: 88;
      }
    }

    .progress{
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      transform: rotate(-90deg);
      circle{
        fill: transparent;
        stroke: $color-white;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: 88;

        &.on{
          animation: circle 5s linear 0s 1;
        }
      }
    }

    .btnTimer{
      width: 16px;
      height: 16px;
      padding: 7px;
      position: absolute;
      top: 0;
      left: 0;
      color: $color-white;
      cursor: pointer;

      &:nth-last-of-type(2){
        padding-left: 8px;
      }
    }
  }

  .control{
    width: calc(100% - 150px);
    padding-left: calc((100% - 1180px) / 2 - 50px);
    position: absolute;
    bottom: 0;
    left: 150px;
    display: flex;
    align-items: center;

    ul{
      flex: 1;
      height: 60px;
      padding: 0 30px;
      display: flex;
      align-items: flex-end;
      background-color: rgba($color: $color-white, $alpha: 0.8);

      li{
        height: 100%;
        padding: 0 25px;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
  
        span{
          height: 100%;
          padding: 0 5px;
          display: flex;
          align-items: center;
          border-bottom: 2px solid transparent;
          font-family: 'Noto Sans KR', sans-serif;
          font-weight: 300;
          font-size: $font-size-regular;
        }
  
        &.on{
          span{
            border-bottom: 2px solid $color-black;
          }
        }
      }
    }
  }

  .floatingBox{
    display: block;
    width: 200px;
    overflow: hidden;
    border-radius: 20px 0 20px 20px;
    position: absolute;
    top: 143px;
    right: calc(100% - 1180px - 50px);

    .imgBox{
      width: 100%;
      height: 150px;
      overflow: hidden;
      background: linear-gradient(45deg, $color-medium-gray, $color-light-gray);

      svg{
        margin-top: 20px;
        width: 100%;
        height: 70%;
        object-fit: contain;
        color: $color-white;
        filter: drop-shadow(0 0 7px rgba(0,0,0,0.2));
      }
    }

    .txtBox{
      height: auto;
      padding: 20px;
      background-color: $color-white;

      h3{
        font-size: $font-size-regular;
        font-weight: 900;
        line-height: 2;
      }

      span{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        font-size: $font-size-smallest;
        color: $color-dark-gray;
      }
    }
  }
}

@keyframes circle {
  0%{
    stroke-dashoffset: 88;
  }
  100%{
    stroke-dashoffset: 0;
  }
}