.review{
  .commentForm{
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid $color-light-gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  
  .commentList{
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid $color-light-gray;
    border-radius: 10px;
  }
}